kubeconfig.json
.env

# its not that deep bro, exact versions not needed
devbox.lock

# we manage go dependencies in this directory, not at the typical GOPATH location
go/

# to create crossplane aws secret
aws-credentials.txt

